[Unit]
Description=Isuzu MFD Dashboard
After=local-fs.target
RequiresMountsFor=/mnt/candata

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/vtconsole/vtcon1/bind'
ExecStart=/mnt/candata/app/isuzu_mfd
WorkingDirectory=/mnt/candata/app
Restart=on-failure
RestartSec=2
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
